.chessboardComponent {
  background-color: rgba(214, 83, 83, 0.185);
  display: flex;
  align-items: center;
  width: fit-content;
}

.verticalNumber {
  display: flex;
  flex-direction: column-reverse;
}

.horizontalLetter {
  display: flex;
}

.horizontalDiv {
  display: flex;
  flex-direction: column;

  justify-content: space-between;
}

.gameBoardMain {
  background-color: rgb(47, 172, 255);
  width: 50px;
  height: 50px;
  display: flex;
}

.numberBorderItem {
  width: 5vw;
  height: 5vw;
  font-weight: 700;
  font-size: 1.3rem;
}

.testBoard {
  display: flex;
  flex-direction: column-reverse;
  width: fit-content;
}

.row {
  display: flex;
  width: fit-content;
}

.odd {
  background-color: rgb(94, 94, 94);
}

.even {
  background-color: rgb(185, 185, 185);
}

.numberBorderItem {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coordSelected {
  display: flex;
  flex-direction: column;
}

.testStart,
.testEnd {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.howto {
  text-align: center;
}
