.tile {
  height: 5vw;
  width: 5vw;
}

.startLocation,
.startLocation.animate.zero {
  background-color: rgba(0, 255, 0, 0.523);
}

.endLocation {
  background-color: rgba(251, 83, 83, 0.559);
}

.animate {
  background-color: rgb(255, 186, 47);
}

.startLocation.animate.zero {
}
