.mainContainer {
  background-color: rgba(48, 48, 48, 0.982);
  width: 100vw;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.gameboard {
  background-color: rgb(91, 91, 248);
}
